/******** css-variabler *********/

* {
  margin: 0 auto;
}

html {
  --hvid-color: #f9edfa;
  --sort-color: #1a1952;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p,
h2,
h3,
h4,
button {
  letter-spacing: 1px;
  color: #1a1952;
  list-style: none;
  color: white;
}
.button1 {
  display: flex;
  margin-right: 29rem;
}

h2 {
  margin-bottom: 2rem;
  color: black;
}
h3 {
  font-family: trajan-pro-3, serif;
  color: black;
  font-size: 30px;
}
p {
  font-size: 20px;
  max-width: 65ch;
  color: black;
}

img {
  width: 100%;
  height: auto;
}
body {
  background-color: white;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
header p {
  color: black;
  font-family: "Courgette", cursive;
  text-decoration: none;
}
header .logo {
  width: 5%;
}

#hjem {
  color: white;
  border: none;
  cursor: pointer;
  margin-inline-start: 1.8vh;
}
.main-menu {
  margin-block: 0;
}

.toggle-btn a:hover {
  color: #b0b0b0;
}
.main-menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  text-align: end;
}

/* Burgermenu */
.toggle-btn {
  border: none;
  cursor: pointer;
  display: none;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

@media (max-width: 600px) {
  html {
    max-width: 100%;
  }
  header .logo {
    width: 10%;
  }
  .logo {
    width: 200px;
  }
  .toggle-btn {
    display: block;
    padding-left: 17rem;
  }
  .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-menu ul {
    display: none;
    gap: 0px;
  }
  .main-menu.shown ul {
    display: flex;
    flex-flow: column;
  }
  header :active {
    color: white;
  }
}

/*Footer*/
.footer-container {
  background-color: #bc8f61;
  color: white;
  padding-top: 1rem;
  font-family: "Courgette", cursive;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #bc8f61;
  color: white;
}
footer ul {
  list-style: none;
  padding: 0px;
  color: white;
}
.footer {
  background-color: #bc8f61;
}

.footer-col {
  width: 25%;
  padding: 0 20px;
}
.footer-col h5 {
  margin-top: 1rem;
  font-family: trajan-pro-3, serif;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.2rem;
  font-weight: 300;
  position: relative;
  color: white;
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #ffffff;
  color: white;
  text-align: left;
  font-weight: 300;
  margin-top: 1rem;
}
.footer-col ul li a {
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  color: white;
  margin-top: 1rem;
  text-align: left;
}

.copyright {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
img.footer-logo {
  display: block;
  margin-left: 1000px;
  margin-top: -200px;
  max-width: 45%;
}

@media screen and (max-width: 600px) {
  .footer-col {
    width: 28%;
    padding: 0 10px;
  }
  .footer-col ul li {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: white;
    max-width: fit-content;
  }
  .footer-col ul li a {
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .copyright {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
